.die {
    border: 1px solid transparent;
}
.die.normal {
    cursor: pointer;
}
.die.normal.selected {
    border: 1px solid black;
    border-radius: 3px;
}
.history .die {
    width: 25px;
    height: 43px;
}
            